@import "../../scss/base";
@import "../../scss/mixin";

.paginate {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(phone) {
        flex-direction: column;
        align-items: flex-start;
    }


    &-page {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        color: $color-tertiary;

        @include respond(phone) {
            margin-bottom: 1.5rem;
        }
    }



    & .page-number {
        padding: .7rem 1.4rem;
        border: 1px solid rgba(33, 63, 125, 0.1);
        background-color: rgba(33, 63, 125, 0.1);
        border-radius: 4px;
        font-weight: 500;
        margin: 0 1rem;
    }


    & .page-navigation {
        display: flex;
        align-items: center;

        @include respond(phone) {
            width: 100%;
        }

        & .prev,
        .next {
            padding: .5rem;
            cursor: pointer;
            background-color: rgba(33, 63, 125, 0.1);
        }

        & .prev {
            margin-right: 1rem;
        }

        & .navigator {
            font-size: 1.6rem;
            font-weight: 500;
            margin: 0 1rem;
            cursor: pointer;
        }

        & .active-navigator {
            color: $color-tertiary;
        }

        & .inactive-navigator {
            color: rgba($color-tertiary, .6);
        }

    }
}