@import "../../scss/base";

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    & img {
        width: 70%;
        height: 30rem;
    }

    & h2 {
        color: $color-secondary;
        font-size: 2rem;
        font-weight: 600;
    }
}