@import "../../scss/base";
@import "../../scss/mixin";

.container {
    margin-top: 4rem;

    & .back-to-all-users {
        display: flex;
        text-decoration: none;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        color: $color-tertiary;

        & img {
            margin-right: 1rem;
        }
    }
}

.table-container {
    width: 100%;
    background-color: #fff;
    border-radius: .4rem;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
    padding: 3.5rem 3rem 3rem;
    position: relative;

    @include respond(miniLaptop) {
        overflow-x: scroll;

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $color-tertiary;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: rgba($color-tertiary, .8);
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    @include respond(miniLaptop) {
        width: max-content;
    }
}

th {
    padding-bottom: 1.5rem;
}

.headers {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-tertiary;
    text-transform: uppercase;

    & img {
        width: 1.6rem;
        height: 1rem;
        margin-left: 1rem;
        cursor: pointer;
    }
}

.no-user {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    color: $color-tertiary;
    justify-content: center;
    text-transform: capitalize;
}

.cancel-icon {
    width: 2rem;
    height: 2rem;
    color: $color-secondary;
}