@import "../../scss/base";

.table-container {
    width: 100%;
    background-color: #fff;
    margin-top: 4rem;
    border-radius: 2rem;
    border: 1px solid rgba(33, 63, 125, 0.06);
    box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
}

.table {
    width: 100%;
}